:root {
    --background-color: #2a2a2a;
    --text-color: #8a8a8a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

/*Header NAV bar*/
header {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    padding-top: 40px;
}
header a {
    text-decoration: none;
    color: var(--text-color);
}
header nav {
    margin: auto;
    width: 50%;
    padding: 15px;
}

header nav ul {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

header nav ul li a:hover {
    background-color: rgba(42, 42, 42, .1);
    opacity: .4;  
}
/*end of nav bar*/

/*contact me start*/
footer {
    margin: 50px auto 30px auto;
    padding: 20px;
}

footer h2 {
    text-align: center;
    margin-bottom: 40px;
}

footer div {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

footer div a {
    text-decoration: none;
    color: var(--text-color);
}

footer div a:hover {
    background-color: rgba(42, 42, 42, .1);
    opacity: .4;  
}

/*end of footer */

/*hero start*/

.hero {
    margin: 100px 0;
}

.hero h1 {
    text-align: center;
    margin: auto;
    font: large;
}

.hero h1 span {
    font-weight: bolder;
    font-size: xx-large;
}

/*end of hero section*/

#about-me {
    display: flex;
    flex-direction: column;
}

#about-me h2 {
    margin: auto;
    padding-bottom: 60px;
}

#about-me div {
    display: flex;
    align-items: center;
}

#about-me img {
    border-radius: 50%;
}

#about-me p {
    padding: 0 80px;

}

/*end of about me*/

/* start of projects*/

#projects {
    display: flex;
    flex-direction: column;
}

#projects h2 {
    margin: 30px auto;
    padding: 10px 0;
}

#projects ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

#projects ul li {
    margin: 15px;
    text-align: center;
}


#projects ul li a img {
    border-radius: 50%;
    width: 200px;
}

#projects ul li a img:hover {
    opacity: .5;
}