:root {
    --background-color: #2a2a2a;
    --text-color: white;
    --hover-color: black;
    --header-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin: 30px auto;
    padding: 70px 0 50px 0;
    font-size: xx-large;
}

/*Header NAV bar*/
header {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--header-color);
}

.website-navigation {
    margin: auto;
    width: 50%;
    padding: 15px;
}

.website-navigation ul {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

.website-navigation ul li a{
    width: 10%;
    height: 20px;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
}

.website-navigation ul li a:hover {
    background-color: white;
    border-radius: 10%;
    color: var(--hover-color);
}
/*end of nav bar*/

/*contact me start*/
footer {
    margin: 50px auto 0 auto;
    padding-top: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

footer div h2 {
    margin: 0%;
    padding: 70px 0 0 0;
}

.contact ul{
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}

.contact a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}

.contact a:hover {
    background-color: var(--text-color);
    border-radius: 13%;
    color: var(--hover-color);
}

/*end of footer */

/*hero start*/
.hero {
    margin: 100px 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    text-align: center;
    margin: auto;
    font: large;
}

.hero h1 span {
    font-weight: bolder;
    font-size: 6vh;
}

/*end of hero section*/

/*about me section*/
#about-me {
    display: flex;
    flex-direction: column;
}

#about-me div {
    display: flex;
    align-items: center;
    padding: 20px;
}

#about-me img {
    border-radius: 50%;
}

#about-me p {
    padding: 0 80px;
    font-size: x-large;
    overflow-wrap: break-word;
}

/*end of about me*/

/* start of projects*/

#projects {
    display: flex;
    flex-direction: column;
}

#projects ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    width: 50%;
    margin: auto;
}

#projects ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    height: 250px;
}

#projects ul li a img {
    border-radius: 50%;
    width: 150px;
}

#projects ul li a img:hover {
    opacity: .4;
}

#projects ul .large {
    grid-column: span 2;
}

#projects ul .large img {
    width: 250px;
}

/* end of projects section*/

@media screen and (max-device-width: 768px) {
    
    #about-me div {
        flex-direction: column;
    }

    #about-me div p {
        padding-top: 30px;
    }
}